body {
  width: 80%;
  margin-left: 10%;
  line-height: 1.5em;
  background-color: lightsalmon;
}

.title {
  text-align: center;
  background-color: orangered;
  padding: 10px;
  color: white;
}

p.name {
  text-align: right;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.submenu {
  list-style-type: none;
  margin: 0;
  padding-left: 1.0em;
}

dt {
  font-size: 1.2em;
  font-weight: bold;
}